<p style="color: green"><%= notice %></p>

<h1>Restaurants</h1>

<div id="restaurants">
  <% @restaurants.each do |restaurant| %>
    <p>
      <strong>Name:</strong> <%= link_to restaurant.name, restaurant %><br>
      <strong>Address:</strong> <%= restaurant.address %>
    </p>
  <% end %>
</div>

<%= link_to "New restaurant", new_restaurant_path %>
<p>
<%= link_to "Go back to home", pages_home_path %>
</p>
