<p style="color: green"><%= notice %></p>
<head>
  <style>
    .page-container {
      margin: 20px; /* Aplica un margen de 20 píxeles a todos los lados del contenedor */
    }
  </style>
</head>
<body>

<h1>Items</h1>
<div class="page-container">
<div id="items">
  <% @items.each do |item| %>
    <p>
      <strong>Name:</strong> <%= item.name %><br>
      <strong>Price:</strong> <%= item.price %>
    </p>
    <p>
      <%= link_to "Show this item", restaurant_item_path(@restaurant, item)  %>
    </p>
    <p>
    </p>
  <% end %>
</div>
<%= link_to "New item", new_restaurant_item_path %>
<p>
<%= link_to "Go back to home", pages_home_path %>
</div>
</body>
</p>
<p>

</p>
